<div class="social-share">
<script type="text/javascript">(function(w,doc) {
if (!w.__utlWdgt ) {
    w.__utlWdgt = true;
    var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
}})(window,document);
</script>
<div data-share-size="30" data-like-text-enable="false" data-background-alpha="0.0" data-pid="1318558" data-mode="share" data-background-color="#ffffff" data-follow-yt="KievIDTeam" data-share-shape="round-rectangle" data-share-counter-size="12" data-icon-color="#ffffff" data-text-color="#000000" data-buttons-color="#FFFFFF" data-counter-background-color="#ffffff" data-share-counter-type="disable" data-orientation="horizontal" data-following-enable="true" data-follow-gp="110754008743617925706" data-sn-ids="fb.vk.tw.gp.em." data-selection-enable="true" data-exclude-show-more="false" data-share-style="1" data-follow-vk="kidteam" data-counter-background-alpha="1.0" data-top-button="false" data-follow-fb="KievIDTeam" class="uptolike-buttons" ></div>
</div><!-- /.social-share -->
